<%= error_messages_for(@admin_user) %>

<table summary="Admin user form fields">
	<tr>
		<th><%= f.label(:first_name) %></th>
		<th><%= f.text_field(:first_name) %></th>
	</tr>
	<tr>
		<th><%= f.label(:last_name) %></th>
		<th><%= f.text_field(:last_name) %></th>
	</tr>
	<tr>
		<th><%= f.label(:email) %></th>
		<th><%= f.text_field(:email) %></th>
	</tr>
	<tr>
		<th><%= f.label(:username) %></th>
		<th><%= f.text_field(:username) %></th>
	</tr>
	<tr>
		<th><%= f.label(:password) %></th>
		<th><%= f.password_field(:password) %></th>
	</tr>
	<tr>
		<th><%= f.label(:password_confirmation) %></th>
		<th><%= f.password_field(:password_confirmation) %></th>
	</tr>
</table>